#footer{
    background: #121212;
    height: 5em;
    width: 100%;
    
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #363636;
}